<div class="header">
    
    <div class="container">
        
        <a href="#" class="navbar-brand scroll-top">Victory</a>
        
        <nav class="navbar navbar-inverse" role="navigation">
            
            <div class="navbar-header">
                
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            
            <div id="main-nav" class="collapse navbar-collapse">
                
                <ul class="nav navbar-nav">
                    <li>
                        <a asp-action="Index" asp-controller="Home">Главная</a>  
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Menu">Меню</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Contact">Связаться с нами</a>
                    </li>

                  @*  @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <li id="logInShowPopupButton" style="display: none">
                            <div class="primary-button">
                                <a href="#popup" class="popup-link" id="open-popup">Вход</a> 
                            </div>
                        </li>

                        <li id="logOutButton">
                            <div class="primary-button">
                                <a href="#" class="popup-link">Выход</a> 
                            </div>
                        </li>
                    }
                    else
                    {
                         <li id="logInShowPopupButton">
                             <div class="primary-button">
                                 <a href="#popup" class="popup-link" id="open-popup">Вход</a> 
                             </div>  
                         </li>
                         
                         <li id="logOutButton" style="display: none">
                             <div class="primary-button">
                                 <a href="#" class="popup-link">Выход</a>   
                             </div>
                        </li>

                    }*@

                </ul>
                
            </div>
            
        </nav>
        
    </div>
    
</div>