<!DOCTYPE html>
<html>
  
    <head>
        <title>@DomainInfoConfiguration.Name - Our Menu</title>
    </head>

<body>
    
    @await Component.InvokeAsync(
        name: "PageHeading",
        arguments: new
        {
            heading = "Our Menu",
            text = "A unique set of dishes from our chef. Made with love."
        });
    
    @await Component.InvokeAsync(
        name: "FoodMenu",
        arguments: new 
        {
            foodType = "Breakfast",
            side = DisplaySide.Right
        });

         @await Component.InvokeAsync(
        name: "FoodMenu",
        arguments: new 
        {
            foodType = "Lunch",
            side = DisplaySide.Left
        });

         @await Component.InvokeAsync(
        name: "FoodMenu",
        arguments: new 
        {
            foodType = "Dinner",
            side = DisplaySide.Right
        });
        
    @await Component.InvokeAsync(name: "Booking");

</body>

</html>