<section class="cook-delecious">

    <div class="container">
        
        <div class="row">
            
            <div class="col-md-3 col-md-offset-1">

                <div class="first-image">
                    <img src="@Url.Content("~/img/cook_01.jpg")" alt="" />         
                </div>

            </div>
            
            <div class="col-md-4">

                <div class="cook-content">

                    <h4>Мы вкусно готовим</h4>

                    <div class="contact-content">
                        <span>Позвоните нам:</span>
                        <h6>@ViewBag.Phone</h6>
                    </div>
 
                    <span>или</span>

                    <div class="primary-white-button">
                        <a href="" class="scroll-link" data-id="book-table">Сделать заказ</a>
                    </div>
                    
                </div>
                
            </div>
            
            <div class="col-md-3">
                <div class="second-image">
                    <img src="@Url.Content("~/img/cook_02.jpg")" alt="" />
                </div>    
            </div>
            
        </div>
        
    </div>
    
</section>