<!DOCTYPE html>
<html>
  
    <head>
        <title>@CompanyInfoConfiguration.Name - Меню</title>
    </head>

<body>
    
    @await Component.InvokeAsync(
        name: "PageHeading",
        arguments: new { heading = "Наше меню", text = "Уникальный набор блюд от нашего шеф-повара. Сделано с любовью."});
    
    @await Component.InvokeAsync(
        name: "FoodMenu",
        arguments: new { foodType = FoodType.Breakfast, side = DisplaySide.Right});
        
    @await Component.InvokeAsync(
        name: "FoodMenu",
        arguments: new { foodType = FoodType.Lunch, side = DisplaySide.Left});

    @await Component.InvokeAsync(
         name: "FoodMenu",
         arguments: new { foodType = FoodType.Dinner, side = DisplaySide.Right});
    
    @await Component.InvokeAsync(name: "Booking");

</body>

</html>