<!DOCTYPE html>
<html>

    <head>
        <title>Victory - Связаться с нами</title>
    </head>

<body>

    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Свяжитесь с нами</h1>
                    <p>Задайте нам Ваши вопросы и мы обязательно на них ответим.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-heading">
                        <h2>Написать нам</h2>
                    </div>
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Имя" required="">
                                </fieldset>
                                <fieldset>
                                    <input name="email" type="text" class="form-control" id="email" placeholder="Электронная почта" required="">
                                </fieldset>
                                <fieldset>
                                    <input name="phone" type="text" class="form-control" id="phone" placeholder="Телефон" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Ваше сообщение" required=""></textarea>
                                </fieldset>
                                <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Отправить</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="section-heading contact-info">
                        <h2>Информация</h2>
                        <p>Если Вам не удалось с нами связаться. Вы можете подойти к нашему администратору по адресу:
                            <br><br><em>ул. Кирова д. 19, <br>г.Астрахань 414000</em></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="map">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="map">
                        <iframe
                            width=100%
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2315.8266925411604!2d48.03525084090848!3d46.34959242691556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41a9057ed5e0d079%3A0x604442570412cea9!2z0YPQuy4g0JrQuNGA0L7QstCwLCAxOSwg0JDRgdGC0YDQsNGF0LDQvdGMLCDQkNGB0YLRgNCw0YXQsNC90YHQutCw0Y8g0L7QsdC7LiwgNDE0MDAw!5e0!3m2!1sru!2sru!4v1644512508677!5m2!1sru!2sru"
                            height="500"
                            frameborder="0"
                            style="border:0"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>