<!DOCTYPE html>
<html>

    <head>
        <title>@CompanyInfoConfiguration.Name - Связаться с нами</title>
    </head>

<body>
    
    @await Component.InvokeAsync(
        name: "PageHeading",
        arguments: new 
        { 
            heading = "Свяжитесь с нами",
            text = "Задайте нам Ваши вопросы и мы обязательно на них ответим."
        });
    
    @await Component.InvokeAsync(name: "CreateContactMessage");
    
    @await Component.InvokeAsync(name: "GoogleMap");

</body>

</html>