<section class="services">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-3 col-sm-6 col-xs-12">

                <div class="service-item">

                    <a href="menu.html">
                        <img src="@Url.Content("~/img/cook_breakfast.png")" alt="Breakfast" />
                        <h4>Завтрак</h4>
                    </a>
                    
                </div>
                
            </div>
            
            <div class="col-md-3 col-sm-6 col-xs-12">
                
                <div class="service-item">
                    
                    <a href="menu.html">
                        <img src="@Url.Content("~/img/cook_lunch.png")" alt="Lunch" />
                        <h4>Обед</h4>
                    </a>
                    
                </div>
                
            </div>
            
            <div class="col-md-3 col-sm-6 col-xs-12">
                
                <div class="service-item">

                    <a href="menu.html">
                        <img src="@Url.Content("~/img/cook_dinner.png")" alt="Dinner" />
                        <h4>Ужин</h4>
                    </a>
                    
                </div>
                
            </div>
            
            <div class="col-md-3 col-sm-6 col-xs-12">

                <div class="service-item">

                    <a href="menu.html">
                        <img src="@Url.Content("~/img/cook_dessert.png")" alt="Desserts" />
                        <h4>Десерты</h4>
                    </a>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</section>