<section class="banner">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-6 col-md-offset-3">

                <h4 class="h2 small">Elite European restaurant</h4>
                <h2>@DomainInfoConfiguration.Name</h2>
                <p class="text-muted lead">Only the most delicious and delicious dishes from all corners of the old world.</p>
                <div class="primary-button">
                    <a href="" class="scroll-link" data-id="book-table">Book a table</a>     
                </div>

            </div>
            
        </div>
        
    </div>
    
</section>