@model Booking

<section id="book-table">

    <div class="container">
        
        <div class="row">
            
            <div class="col-md-12">
                <div class="heading">
                    <h2>Закажите столик прямо сейчас</h2>
                </div>
            </div>
            
            <div class="col-md-4 col-md-offset-2 col-sm-12">
                <div class="left-image">
                    <img src="@Url.Content("~/img/book_left_image.jpg")" alt="" /> 
                </div>
            </div>
            
            <div class="col-md-4 col-sm-12">
                <div class="right-info">
                    <h4>Бронирование</h4>
                    
                    <form asp-action="CreateBooking" asp-controller="Booking">
                        
                        <div class="row">
                            
                            <div class="col-md-6">
                                
                                <select asp-for=DayOfWeek asp-items="Html.GetEnumSelectList<DayOfWeek>()" required="">
                                    <option value="">Выберите день</option>
                                </select>
                                
                            </div>
                            
                            <div class="col-md-6">

                                <select asp-for=Time required="">
                                    <option value="">Выберите время</option>
                                    <option value="10:00">10:00</option>
                                    <option value="12:00">12:00</option>
                                    <option value="14:00">14:00</option>
                                    <option value="16:00">16:00</option>
                                    <option value="18:00">18:00</option>
                                    <option value="20:00">20:00</option>
                                    <option value="22:00">22:00</option>
                                </select>
                                
                            </div>
                            
                            <div class="col-md-6">
                                <input class="form-control" placeholder="Ваше имя" asp-for=Name required=""> 
                            </div>

                            <div class="col-md-6">
                                <input class="form-control" placeholder="Телефон" asp-for=Phone required=""> 
                            </div>
                            
                            <div class="col-md-6">

                                <select class="person" asp-for=PersonCount required="">
                                    <option value="">Сколько людей?</option>
                                    <option value="1">1 человек</option>
                                    <option value="2">2 человека</option>
                                    <option value="3">3 человека</option>
                                    <option value="4">4 человека</option>
                                    <option value="5">5 человек</option>
                                    <option value="6">6 человек</option>
                                </select>
                                
                            </div>
                            
                            <div class="col-md-6">
                                <button type="submit" id="form-submit" class="btn">Сделать заказ</button>
                            </div>
                            
                        </div>
                        
                    </form>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</section>