@model ContactMessage

<section class="contact-us">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-6">
                
                <div class="section-heading">
                    <h2>Contact us</h2>  
                </div>
                
                <form asp-action="CreateContactMessage" asp-controller="ContactMessage" asp-antiforgery="true">
                    
                    <div class="row">
                        
                        <div class="col-md-6">
                            <input class="form-control" asp-for=Name type="text" placeholder="Name" required="">
                            <input class="form-control" asp-for=Mail type="email" placeholder="Email" required="">
                            <input class="form-control" asp-for=Phone type="text" placeholder="Phone" required="">
                        </div>
                        
                        <div class="col-md-6">
                            <textarea class="form-control" asp-for=Message rows="6" placeholder="Your message" required=""></textarea>
                            <button type="submit" class="btn">Send</button>
                        </div>
                        
                    </div>
                    
                </form>
                
            </div>
            
            <div class="col-md-6">
                
                <div class="section-heading contact-info">
                    <h2>Information</h2>
                    <p>If you have not been able to contact us. You can approach our administrator at:
                        <br><br><em>@DomainInfoConfiguration.Address, <br>@DomainInfoConfiguration.City @DomainInfoConfiguration.DeliveryIndex</em></p>   
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</section>