<!DOCTYPE html>

<html>
  
    <head>
        <title>Ooopss something is wrong!</title>
    </head>

<body>
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-12">
                
                <div class="error-template">

                    <h1>Oops!</h1>
                    <h2>404</h2>
                    
                    <div class="error-details">
                        Sorry, an error has occurred. The requested resource was not found.
                    </div>
                    
                    <div class="error-actions">
                      
                        <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-home"></span>
                            Go back to the home page.
                        </a>
                        
                        <a asp-action="Index" asp-controller="Contact" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-envelope"></span>
                            Let us know about the error.
                        </a>

                    </div>

               </div>
               
           </div>
           
       </div>
       
   </div>

</body>

</html>