<!DOCTYPE html>

<html>
  
    <head>
        <title>Ooopss что-то не так!</title>
    </head>

<body>
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-12">
                
                <div class="error-template">

                    <h1>Oops!</h1>
                    <h2>500 Внутренняя ошибка сервера!</h2>
                    
                    <div class="error-details">
                        Извините, произошла внутренняя ошибка. Мы уже работаем чтобы её устранить!
                    </div>
                    
                    <div class="error-actions">
                      
                        <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-home"></span>
                            Вернемся на главную.
                        </a>
                        
                        <a asp-action="Index" asp-controller="Contact" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-envelope"></span>
                            Сообщите нам об ошибке.
                        </a>

                    </div>

               </div>
               
           </div>
           
       </div>
       
   </div>

</body>

</html>