<section class="get-app">
    
    <div class="container">
        
        <div class="row">

            <div class="heading">

                <h2>Скачайте наше приложение прямо на Ваш компьютер</h2>
                </div>
                
                <div class="primary-white-button">
                    <a asp-controller="Download" asp-action="Download" asp-route-fileName="@ViewBag.FileName">Скачать</a>
                </div>

            </div>
            
        </div>

</section>