<!DOCTYPE html>
<html>

<head>
    <title>@CompanyInfoConfiguration.Name - Главная</title>
</head>

<body>
    
    @await Component.InvokeAsync(name: "Banner");
    
    @await Component.InvokeAsync(name: "CookDeleciousBanner");

    @await Component.InvokeAsync(name: "Booking");
    
    @await Component.InvokeAsync(
        name: "DownloadApp",
        arguments: "client.jpg");
    
    @await Component.InvokeAsync(name: "FoodWeekleTop");
    
    @await Component.InvokeAsync(name: "SignUp");

</body>

</html>