<!DOCTYPE html>
<html>

<head>
    <title>@DomainInfoConfiguration.Name - Home</title>
</head>

<body>
    
    @await Component.InvokeAsync(name: "Banner");
    
    @await Component.InvokeAsync(name: "CookDeleciousBanner");

    @await Component.InvokeAsync(name: "Booking");
    
    @await Component.InvokeAsync(name: "SignUp");

</body>

</html>