<!DOCTYPE html>
<html>
  
    <head>
        <title>@DomainInfoConfiguration.Name - Меню</title>
    </head>

<body>
    
    @await Component.InvokeAsync(
        name: "PageHeading",
        arguments: new
        {
            heading = "Наше меню",
            text = "Уникальный набор блюд от нашего шеф-повара. Сделано с любовью."
        });
    
    @await Component.InvokeAsync(
        name: "FoodMenu",
        arguments: new 
        {
            foodType = "Завтрак",
            side = DisplaySide.Right
        });

         @await Component.InvokeAsync(
        name: "FoodMenu",
        arguments: new 
        {
            foodType = "Обед",
            side = DisplaySide.Left
        });

         @await Component.InvokeAsync(
        name: "FoodMenu",
        arguments: new 
        {
            foodType = "Ужин",
            side = DisplaySide.Right
        });
        
    @await Component.InvokeAsync(name: "Booking");

</body>

</html>