<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="https://www.vogue.ru/verso/static/vogue-ru/assets/favicon.ico" type="image/png" >
    <link rel="icon" href="https://www.vogue.ru/verso/static/vogue-ru/assets/favicon.ico" type="image/png" >

    <link asp-href-include="~/css/**/*.css" asp-append-version="true" rel="stylesheet" type="text/css"/>

    <link 
        href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
        rel="stylesheet"
    >

    <link
        href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
        rel="stylesheet"
    >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" asp-append-version="true"></script>

    <script asp-src-include="~/js/**/*.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(function()
        {
            // navigation click actions
             $('.scroll-link').on('click', function(event)
             {
                 event.preventDefault();
                 var sectionID = $(this).attr("data-id");
                 scrollToID('#' + sectionID, 750);
             });
             // scroll to top action
             $('.scroll-top').on('click', function(event)
             {
                 event.preventDefault();
                 $('html, body').animate({scrollTop:0}, 'slow');
             });
             // mobile nav toggle
             $('#nav-toggle').on('click', function (event)
             {
                 event.preventDefault();
                 $('#main-nav').toggleClass("open");
             });
             });

             // scroll function
             function scrollToID(id, speed)
             {
                 var offSet = 0;
                 var targetOffset = $(id).offset().top - offSet;
                 var mainNav = $('#main-nav');
                 $('html,body').animate({scrollTop:targetOffset}, speed);
                 if (mainNav.hasClass("open"))
                 {
                     mainNav.css("height", "1px").removeClass("in").addClass("collapse");
                     mainNav.removeClass("open");
                 }
             }
             
             if (typeof console === "undefined")
             {
                 console =
                 {
                     log: function() { }
                 };
             }
    </script>

</head>

<body>

    <div class="header">

        <div class="container">

            <a href="#" class="navbar-brand scroll-top">Victory</a>

            <nav class="navbar navbar-inverse" role="navigation">

                <div class="navbar-header">

                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a asp-action="Index" asp-controller="Home">Главная</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Menu">Меню</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Contact">Связаться с нами</a>
                        </li>
                    </ul>
                </div>

                <!--/.navbar-collapse-->

            </nav>

            <!--/.navbar-->

        </div>

        <!--/.container-->

    </div>

    <!--/.header-->

    @RenderBody()

    <footer>
        <div class="container">

            <div class="row">

                <div class="col-md-4">

                    <p>&copy; @DateTime.Now.Year
                        <a href="https://templatemo.com/tm-507-victory"> Victory</a>
                         by 
                        <a href="https://github.com/DimaInNature"> DimaInNature</a>
                    </p>
                </div>

                <div class="col-md-4">

                    <ul class="social-icons">
                        <li>
                            <a href="https://github.com/DimaInNature" target="_blank">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://vk.com/feed" target="_blank">
                                <i class="fa fa-vk"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://telegram.org/" target="_blank">
                                <i class="fa fa-telegram"></i>
                            </a>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

    </footer>

</body>

</html>