<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="https://www.vogue.ru/verso/static/vogue-ru/assets/favicon.ico" type="image/png">
    <link rel="icon" href="https://www.vogue.ru/verso/static/vogue-ru/assets/favicon.ico" type="image/png">

    <link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
          rel="stylesheet">

    <link asp-href-include="~/css/**/*.css" asp-append-version="true" rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous">
    </script>

</head>

<body>
    
    @await Html.PartialAsync("_Menu")
    
    @await Html.PartialAsync("_Login")
    
    @RenderBody()
    
    @await Html.PartialAsync("_Footer")
    
    <script asp-src-include="~/js/**/*.js" asp-append-version="true"></script>

</body>

</html>