@model User

<div class="popup" id="popup">

    <div class="pop-up-container">

        <div class="popup-body">

            <p>Вход</p>

            <form>
                <input class="form-control" id="login" asp-for=Login type="text" placeholder="Логин" required="" />
                <input class="form-control" id="password" asp-for=Password  type="password" required="" />
                
                <button id="logInSubmit">Войти</button>
            </form>
            
            <div class="primary-button">
                <a href="#popup_2" class="popup-link">Регистрация</a>
            </div>

            <a href="#" class="popup-close close-popup">&#10006;</a>

        </div>
        
    </div>
    
</div>

<div class="popup" id="popup_2">

    <div class="pop-up-container">

        <div class="popup-body">

            <p>Регистрация</p>

            <form>
                <input class="form-control" asp-for=Login type="text" placeholder="Логин" required="" />
                <input class="form-control" asp-for=Password type="password" placeholder="Пароль" required="" />
                
                <button>Зарегистрироваться</button>
            </form>
            
            <div class="primary-button">
                <a href="#popup" class="popup-link">Вход</a> 
            </div>

            <a href="#" class="popup-close close-popup">&#10006;</a>
        
        </div>
        
    </div>
    
</div>