<!DOCTYPE html>
<html>

    <head>
        <title>@DomainInfoConfiguration.Name - Contact Us</title>
    </head>

<body>
    
    @await Component.InvokeAsync(
        name: "PageHeading",
        arguments: new 
        { 
            heading = "Contact Us",
            text = "Ask us your questions and we will definitely answer them."
        });
    
    @await Component.InvokeAsync(name: "CreateContactMessage");
    
    @await Component.InvokeAsync(name: "GoogleMap");

</body>

</html>